extends layout

block content
  h1=title
  ul.errors
    if errors
      each error, i in errors
        li.alert.alert-danger #{error.msg}
  form(id="", method="post", action="/posts/add", enctype= 'multipart/form-data')
    .form-group
      label Title
      input.form-control(type="text", name='title')
    .form-group
      label Category
      select.form-control(name='category')
        option(value="" selected disabled)
        each category, i in categories
          option(value="#{category.title}") #{category.title}
    .form-group
      label Body
      textarea.form-control(id="body",  name='body')
    .form-group
      label Main Image
      input.form-control(type="file", name='mainimage')
    .form-group
      label Author:
      select.form-control(name='author')
        option(value="" selected disabled)
        option(value="Paul Julian") Paul Julian
        option(value="Marvin Arnold") Marvin Arnold
    input.btn.btn-default(name="submit", type="submit", value="Save")
    script(type="application/javascript", src="/ckeditor/ckeditor.js")
    script
      | CKEDITOR.replace( 'body', { autoParagraph: false});